#Archivo de Configuracion para el driver Robotdriver
#Creado por: Marco Elizalde
#Fecha: 4 de mayo del 2012

driver(
	name 		"Robotdriver"
	plugin		"PlayerDriver/build/libRobotdriver.so"
	provides	["position2d:0" "sensores:::opaque:0" "motores:::opaque:1"]
)


