# DSP Server
# Marco A. Elizalde
# July 12th, 2012
#
# This server application loads the plugin driver for dsp control.

driver
(
  name 		"dsp"
  plugin	"/home/samurai0/Desktop/dsp-server/build/libdsp.so"
  provides 	["navigation:::opaque:0" "localization:::opaque:1" "mapping:::opaque:2" "sensing:::opaque:3"]
)

